/* Styles for NavBar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    background-color: #1b2029; 
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000; 
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
}

.header-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand img {
    width: 80px;
    max-height: 80px;
    display: flex;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 50%, transparent 70%);
}

.nav-info {
    font-weight: bolder;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;
}
.nav-info:hover {
    color: wheat;
}

.search {
    display: flex;
    align-items: center;
    width: 60%;
}

.form-control {
    width: 100%;
    height: 30px;
    flex: 1;
    margin-right: 4px;
    border-radius: 8px;
    padding: 8px 12px;
    border: 1px solid #ccc; 
    font-size: 1.2rem;
    outline: none;
}
.form-control:hover {
    border: none;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4299E1; 
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 8px; 
    padding: 8px 12px;
    cursor: pointer;
    width: 40px;
    height: 30px;
}
.search-btn:hover {
    background: linear-gradient(to right, #4299E1, #1b2029, #4299E1);
}

.shopping-cart {
    position: relative;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    margin-left: 6px;
}
.shopping-cart:hover {
    color: wheat;
}
.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    gap: 14px;
    margin-right: 10px;
}
.navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
    color: wheat;
}

.bars-menu {
    position: relative;
    display: none;
}

.navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3rem;
}

.navbar-toggler:hover {
    color: wheat;
}
