/*main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #1b2029, #4299E1, #1b2029);

    /*aside {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 50vh;
        background: #ccc;

        div {
            color: white;
            width: 100%;
            height: auto;
        }
    }

    section {
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .dark-overlay {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .title-beginning {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;

            h2 {
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 5rem;
                color: aliceblue;
            }
        }

        .image-beginning {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .background {
                position: relative;
                width: 750px;
                height: 650px;
                background: radial-gradient(ellipse at center, transparent 0%, rgba(255,255,255,0) 80%);
            }

            .image-container {
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    mask-image: radial-gradient(ellipse at center, black 40%, transparent 70%);
                    border-radius: 32px;
                };
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    background-color: transparent;
    z-index: 1000; 

    .credits {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #aaa;

        .parr-1 {
            display: flex;
            align-items: center;
            justify-content:flex-start;
            width: 33.3%;
            font-size: 2rem;
            margin-left: 10px;
        }
        .parr-2 {
            display: flex;
            align-items: center;
            justify-content:center;
            width: 33.3%;
            font-size: 2rem;
        }
        .parr-3 {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 33.3%;
            font-size: 1.5rem;
            margin-right: 20px;
        }
    }
}


@media screen and (max-width: 500px) {

    header {
        font-size: 1.4rem; 
    }

    .navbar {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .nav-info {
        font-size: 0.8rem; 
    }

    .search-bar {
        margin-top: 10px;
        font-size: 1.8rem;
    }

    .navbar-nav {
        margin-top: 10px; 
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .background{
        width: 500px;
        height: 450px;
    }

    .parr-1, .parr-2, .parr-3 {
        font-size: 1rem;
        margin-inline: 10px;
    }
}*/

* {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    background-color: #1b2029; /* Color de fondo de la barra de navegación */
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Estilos para el logo */
.navbar-brand img {
    width: 80px;
    max-height: 80px; /* Altura máxima del logo */
    display: flex;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 50%, transparent 70%);
}

.nav-info {
    font-weight: bolder;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;
}
.nav-info:hover {
    color: wheat;
}

.search {
    display: flex;
    align-items: center;
    width: 60%;

}

/* Estilos para la barra de búsqueda */
.form-control {
    width: 100%;
    height: 30px;
    flex: 1;
    margin-right: 4px;
    border-radius: 8px;
    padding: 8px 12px;
    border: 1px solid #ccc; 
    font-size: 1.2rem;
    outline: none;
}
.form-control:hover {
    border: none;
    
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4299E1; 
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 8px; 
    padding: 8px 12px;
    cursor: pointer;
    width: 40px;
    height: 30px;
}
.search-btn:hover {
    background: linear-gradient(to right, #4299E1, #1b2029, #4299E1);
}

.shopping-cart {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    margin-left: 6px;
}
.shopping-cart:hover {
    color: wheat;
}

/* Estilos para los elementos de tipo enlace */
.navbar-nav {
    display: flex;
    gap: 14px;  /* Espacio entre los elementos */
}

.navbar-nav .nav-link {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitar subrayado */
    font-weight: bold; /* Texto en negrita */
    margin-right: 8px;
    font-size: 1.2rem;
}

/* Estilos para los elementos de tipo enlace al pasar el mouse */
.navbar-nav .nav-link:hover {
    color: wheat; /* Color del texto de los enlaces al pasar el mouse */
}

/* Estilos para el botón del menú */
.bars-menu {
    display: none;
}

.navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3rem;
}
.navbar-toggler:hover {
    color: wheat;
}

/* Styles for dropdown menu from bars-menu */

#menuDropdown {
    display: none;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 48px;
    right: 0; /* Posición en la esquina superior derecha */
    width: 200px; /* Ancho del menú desplegable */
    padding: 10px;
    background-color: #1b2029;
    border: 1px solid #ccc;
    border-radius: 0 0 0 12px;
    z-index: 1000;; /* Asegura que el menú esté por encima de otros elementos */
}

.menu-dropdown li {
    list-style: none;
    margin: 5px 0;
}

.menu-dropdown li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.menu-dropdown li a:hover {
    background-color: #4299E1;
}

.li-drop {
    display: none;
}

/* Styles for Main */
.main-content {
    position: relative;
    height: 100vh;
}

.title-beginning {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px; /* Ajusta la posición desde la parte superior según sea necesario */
    left: 0;
    right: 0;
    margin: auto;
    width: 80%; /* Ajusta el ancho según sea necesario */
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */

    h2 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 5rem;
        color: #2089E1;
    }
}


/* Styles for carrousel, background-image and it components */
.background-carousel {
    position: relative;
    width: 100%;
    height: 100%; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    mask-image: linear-gradient(to top, rgba(255, 255, 255, 1) 50%, transparent 85%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}


.card-body {
    width: 90%;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo con transparencia */
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */

    /* Estilos para el contenido del footer */
    .credits {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Distribuye los elementos horizontalmente */
        margin: 0 auto; /* Centra el contenido horizontalmente */
        color: #aaa;

        /* Estilos para cada sección del footer */
        .parr-1, .parr-2, .parr-3 {
            font-size: 2rem;
            margin-inline: 6px;
        }
        .parr-3 {
            font-size: 1.5rem;
        }
    }
}


/* Responsive Styles */
@media (max-width:550px) {
    
    /* header */
    .nav-info {
        display: none;
    }

    .menu-dropdown {
        display: block;
    }

    .li-drop {
        display: block;
    }

    /* main */
    .title-beginning h2 {
        font-size: 3rem;
    }
}

@media (max-width:850px) {

    /* header */
    .nav-info {
        font-size: 1rem;
    }
    .bars-menu {
        display:block;
        margin-right: 6px;
    }
    .menu-dropdown {
        display: block;
    }
    .shopping-cart {
        margin-left: 6px;
    }
    .nav-link {
        display: none;
    }

    /* main */
    .title-beginning h2 {
        font-size: 4rem;
    }
}
