* {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    background-color: #1b2029; /* Color de fondo de la barra de navegación */
    position: fixed; /* Hace que la barra de navegación sea fija en la parte superior */
    top: 0; /* Ajusta la posición desde la parte superior */
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que la barra de navegación esté por encima de otros elementos */
    width: 100%; /* Ajusta el ancho de la barra de navegación */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    overflow-x: auto; /* Agrega desplazamiento horizontal si es necesario */
    white-space: nowrap; /* Evita que los elementos se envuelvan */
}

.header-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Estilos para el logo */
.navbar-brand img {
    width: 80px;
    max-height: 80px; /* Altura máxima del logo */
    display: flex;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 50%, transparent 70%);
}

.nav-info {
    font-weight: bolder;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;
}
.nav-info:hover {
    color: wheat;
}

.search {
    display: flex;
    align-items: center;
    width: 60%;

}

/* Estilos para la barra de búsqueda */
.form-control {
    width: 100%;
    height: 30px;
    flex: 1;
    margin-right: 4px;
    border-radius: 8px;
    padding: 8px 12px;
    border: 1px solid #ccc; 
    font-size: 1.2rem;
    outline: none;
}
.form-control:hover {
    border: none;
    
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4299E1; 
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 8px; 
    padding: 8px 12px;
    cursor: pointer;
    width: 40px;
    height: 30px;
}
.search-btn:hover {
    background: linear-gradient(to right, #4299E1, #1b2029, #4299E1);
}

.shopping-cart {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    margin-left: 6px;
}
.shopping-cart:hover {
    color: wheat;
}

/* Estilos para los elementos de tipo enlace */
.navbar-nav {
    display: flex;
    gap: 14px; /* Espacio entre los elementos */
    margin-right: 10px; /* Margen derecho para evitar desbordamientos */
}
.navbar-nav .nav-link {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitar subrayado */
    font-weight: bold; /* Texto en negrita */
    font-size: 1.2rem;
}

/* Estilos para los elementos de tipo enlace al pasar el mouse */
.navbar-nav .nav-link:hover {
    color: wheat; /* Color del texto de los enlaces al pasar el mouse */
}

/* Estilos para el botón del menú */
.bars-menu {
    position: relative; /* Asegura que el menú desplegable esté posicionado correctamente */
    display: none;
}

.navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3rem;
}

.navbar-toggler:hover {
    color: wheat;
}

/* Styles for dropdown menu from bars-menu */

#menuDropdown {
    display: none;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 48px; /* Posición debajo del botón de menú */
    right: 0; /* Posición a la derecha del botón de menú */
    width: 200px; /* Ancho del menú desplegable */
    padding: 10px;
    background-color: #1b2029;
    border: 1px solid #ccc;
    border-radius: 0 0 0 12px;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}
.menu-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-dropdown li {
    margin: 5px 0;
}

.menu-dropdown li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.menu-dropdown li a:hover {
    background-color: #4299E1;
}

.li-drop {
    display: none;
}

/* Styles for Main */
.main-content {
    position: relative;
}

/* Button go Back */
.back {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 60px;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: #4299E1;
    color: white;
    border: 1px solid transparent;
    z-index: 1;

    i {
        font-size: 2rem;
   }
}

.back:hover {
    background: linear-gradient(to right, #4299E1, #1b2029, #4299E1);
    cursor: pointer;
}

.title-beginning {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 100px; /* Ajusta la posición desde la parte superior según sea necesario */
    left: 0;
    right: 0;
    margin: auto;
    width: 80%; /* Ajusta el ancho según sea necesario */
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */

    h2 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 5rem;
        color: #2089E1;
    }
}


/* Styles for carrousel, background-image and it components */
.background-carousel {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    mask-image: linear-gradient(to top, rgba(255, 255, 255, 1) 60%, transparent 90%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-container {
    background: transparent;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: 130px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 90%;
}

.card-body {
    width: 100%;
    height: 27%;
    padding: 10px;
    margin-bottom: 6px;
    background-color: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;
}

.card-title {
    width: 150px;
    padding: 8px;
    margin-bottom: 0;
    margin-left: 14px;
    font-size: 1.5rem;
    color: #ddd;
    background: #212;
    border: 4px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
    /* Estilos para el contenido del footer */
.footer .credits {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    color: #aaa;
    margin-bottom: 0;
    
    .parr-1, .parr-2, .parr-3 {
        font-size: 1.6rem;
        margin-inline: 6px
        ;
    }
}



/* Responsive Styles */
@media (max-width:550px) {
    
    /* header */
    .nav-info {
        display: none;
    }

    .menu-dropdown {
        display: block;
    }

    .li-drop {
        display: block;
    }

    /* main */
    .title-beginning h2 {
        font-size: 3rem;
    }

    .card {
        top: 250px;
    }
}
@media (max-width:850px) {

    /* header */
    .nav-info {
        font-size: 1rem;
    }
    .bars-menu {
        display:block;
        margin-right: 6px;
    }
    .menu-dropdown {
        display: block;
    }
    .shopping-cart {
        margin-left: 6px;
    }
    .nav-link {
        display: none;
    }

    /* main */
    .title-beginning h2 {
        font-size: 4rem;
    }

    .card {
        top: 250px;
    }
}

@media (min-width: 851px) {
    .menu-dropdown {
        visibility: hidden;
    }

    .card {
        top: 250px;
    }
}



